<div class="container">
	<div class="row">
		<div class="col">
			<h3>注文詳細</h3>
			<table class="table devise-table">
				<tr>
					<th>購入者</th>
					<th><%= @order.end_user.first_name + @order.end_user.last_name %></th>
				</tr>
				<tr>
					<th>配送先</th>
					<th>〒 <%= @order.postcode %>
							<%= @order.address %><br>
							<%= @order.direction %>
					</th>
				</tr>
				<tr>
					<th>支払方法</th>
					<th><%= @order.pay_type %></th>
				</tr>
				<tr>
					<th>注文状況</th>
					<th>
						<%= form_for [:admin, @order] do |f| %>
						<%= f.select :order_status, Order.order_statuses.keys %>
						<%= f.submit "更新" %>
						<% end %>
					</th>
				</tr>
			</table>

			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th>製作状況</th>
					</tr>
				</thead>
				<tbody>
					<% @order.order_details.each do |order_detail| %>
					<tr>
						<td><%= order_detail.item.name %></td>
						<td><%= (order_detail.price * @order.tax).floor.to_s(:delimited) %></td>
						<td><%= order_detail.quantity %></td>
						<td><%= (order_detail.price * order_detail.quantity * @order.tax).floor.to_s(:delimited) %></td>
						<td>
							<%= form_for [:admin, order_detail] do |f| %>
							<%= f.select :item_status, OrderDetail.item_statuses.keys %>
							<%= f.submit "更新" %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<table class="border">
				<tr>
					<th>商品合計</th>
					<th><%= @order.total_price.floor.to_s(:delimited) %></th>
				</tr>
				<tr>
					<th>送料</th>
					<th><%= @order.postage.floor.to_s(:delimited) %></th>
				</tr>
				<tr>
					<th>請求金額</th>
					<th><%= (@order.total_price + @order.postage).floor.to_s(:delimited) %></th>
				</tr>
			</table>

		</div>
	</div>
</div>
