<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<div align="center">
				<%= attachment_image_tag @item, :image, size: "300x300", format: "jpeg" %>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="item-show">
				<h4><label>商品名 : <%= @item.name %></label></h4>
				<h4><label>商品説明 : <%= @item.detail %></label></h4>
				<h4><label>料金(税込) : <%= (@item.non_tax_price * @tax).floor.to_s(:delimited) %></label></h4>

				<%= form_for(@cart_item) do |f| %>
					<%= f.hidden_field :item_id, value: @item.id %>
					<%= f.select :quantity, (1..5), {include_blank: "個数選択"} %>
					<%= f.submit "カートに入れる" %>
				<% end %>

				</div>
			</div>
		</div>
	</div>
</div>

