<%= form_for [:admin, genre] do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

	<div class="col-xs-3">
		<%= f.label :ジャンル名 %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="col-xs-3">
		<div class="genre-field">
			<%= f.radio_button :is_valid, :有効 %>
			<%= f.label :有効 %>
			<%= f.radio_button :is_valid, :無効 %>
			<%= f.label :無効 %>
		 <% if request.path_info == admin_genres_path %> <!-- request.path_infoで現在いるURLの参照-->
			<%= f.submit "追加" %>													 <!-- submitの分岐-->
		<% else %>
			<%= f.submit "変更の保存" %>
		<% end %>
		</div>
	</div>
<% end %>